.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 4rem;
  position: relative;

  
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #9b2bd3;
  filter: blur(100px);

}
.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
  

}



/* left side */
.a-left{
    gap: 2rem;
}

.Webname > img {
  width: 7rem;
  height: 7rem;
  justify-content: center;
  align-items: center;
  padding-left: 68px;
}

.Webname > h1 {
    font-size: 3rem;
    background-color: red;
  
    /* Create the gradient. */
    background-image: var(--buttonBg);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
}

.Webname>h6{
    font-size: 1rem;
    justify-content: center;
    text-align: center;
   
}
.infoInput::placeholder, .infoInputp::placeholder {
  color: white;
  opacity: 0.5; /* Firefox lowers the opacity by default, so we reset it to ensure consistency */
}

/* For Internet Explorer 10-11 */
::-ms-input-placeholder {
  color: white;
}

/* Microsoft Edge */
::placeholder {
  color: white;
}


.infoForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.infoInput{
  color: white;
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--inputColor); /* Ensure this variable is defined or replace it with a hex color */
  border-radius: 8px;
  padding: 20px;
  flex:1;
}

.infoInputp{
  color: white;
  border: 1px solid white;
  outline: none;
  width: 100%;
  background-color: var(--inputColor);
  border-radius: 5px;
  padding: 12px;
  flex:1;
}

.infoForm>div{
  
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.infoButton{
  width: 6rem;
  height: 2rem;
  align-self: center;
  cursor: pointer;
}


.authForm{
  
  background-color: rgba(255, 255, 255, 0.164); /* Semi-transparent white for glassmorphism */
  border-radius: 1rem;
  padding: 1rem;

    backdrop-filter: blur(10px);
}

.authForm>div{
    width: 50vh;
    align-items: center;
    justify-content: center;
}