.commentModal {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  display: flex;
  justify-content: center; /* Center the modal content horizontally */
  align-items: center; /* Center the modal content vertically */
  z-index: 1000; /* Sit on top */
}

.commentModalContent {
  background-color:  rgba(29, 35, 41, 0.831); 
  margin: auto;
  padding: 20px;
  border: 1px solid #4d4b4b;
  width: 40%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width */
  border-radius: 8px; /* Optional: for rounded corners */
}

.close {
  color: #aaa;
  float: right;
margin-left: 8px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: 
  #b62a28;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: 
  #611211;
}

.commentsList {
  margin-top: 20px;
  max-height: 200px; /* Or whatever you prefer */
  overflow-y: auto; /* Enable scroll if content is taller */
}

.comment {
  padding: 8px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  color:black;
}
